<form action="/admin/students" method="POST">
    <input name="email" type="text" class="form-control" placeholder="Email">
    <input name="name" type="text" class="form-control" placeholder="name">
    <input name="sid" type="text" class="form-control" placeholder="Student ID number">
    <input name="DOB" type="date" placeholder="Date of birth">
    <input name="joiningDate" type="date">
    <input name="phNumber" type="text" placeholder="Phone Number">
    <button type="submit"> Submit</button>
</form>