NEW PARENT
<form action="/student/<%= studentId %>/parent" method="POST">
    <input name="email" type="text" class="form-control" placeholder="Email">
    <input name="name" type="text" class="form-control" placeholder="name">
    <input name="phNumber" type="text" placeholder="Phone Number">
    <input type="text" name="relation" placeholder="Parent Relation">
    <button type="submit"> Submit</button>
</form>